@font-face {
   font-family: "Comodo Stamp";
   src: url("fonts/Comodo Stamp.woff") format("woff"), url("fonts/Comodo Stamp.eot") format("embedded-opentype"), url("fonts/Comodo Stamp.ttf") format("truetype"), url("fonts/Comodo Stamp.svg") format("svg");
   font-weight: normal;
   font-style: normal;
}